<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-2">
        <div class="header__logo">
            
          <a href="./index.html"><img src="assets/logo.png" alt="" id="logoastra" /></a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <nav class="header__menu">
          <ul>
            <li class="nav-item"><a class="nav-link" routerLink="inicio" routerLinkActive="active" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="tienda" routerLinkActive="active" href="#">Tienda</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__right">
          <div class="header__right__auth">
            <a href="#">Iniciar Sesión</a>
            <a href="#">Registrarse</a>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
