.header {
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
    box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
  }
  
  .header__logo {
    padding: 26px 0;
  }
  
  .header__logo a {
    display: inline-block;
  }
  
  .header__menu {
    padding: 30px 0 27px;
  }
  
  .header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    position: relative;
  }
  
  .header__menu ul li.active a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .header__menu ul li:hover a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .header__menu ul li:hover .dropdown {
    top: 27px;
    opacity: 1;
    visibility: visible;
  }
  
  .header__menu ul li:last-child {
    margin-right: 0;
  }
  
  .header__menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 56px;
    width: 150px;
    background: #111111;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .header__menu ul li .dropdown li {
    display: block;
    margin-right: 0;
  }
  
  .header__menu ul li .dropdown li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 8px 20px;
    text-transform: capitalize;
  }
  
  .header__menu ul li .dropdown li a:after {
    display: none;
  }
  
  .header__menu ul li a {
    font-size: 15px;
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    display: block;
    padding: 2px 0;
    position: relative;
  }
  
  .header__menu ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ca1515;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .header__right {
    text-align: right;
    padding: 30px 0 27px;
  }
  
  .header__right__auth {
    display: inline-block;
    margin-right: 25px;
  }
  
  .header__right__auth a {
    font-size: 12px;
    color: #666666;
    position: relative;
    margin-right: 8px;
  }
  
  .header__right__auth a:last-child {
    margin-right: 0;
  }
  
  .header__right__auth a:last-child:after {
    display: none;
  }
  
  .header__right__auth a:after {
    position: absolute;
    right: -8px;
    top: -2px;
    content: "/";
    font-size: 13px;
  }
  
  .header__right__widget {
    display: inline-block;
  }
  
  .header__right__widget li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    color: #111111;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .header__right__widget li:last-child {
    margin-right: 0;
  }
  
  .header__right__widget li a {
    font-size: 18px;
    color: #111111;
    position: relative;
  }
  
  .header__right__widget li a .tip {
    position: absolute;
    right: -12px;
    top: -11px;
    height: 18px;
    width: 18px;
    background: #111111;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
  }
 
  .element{
    height: 200px;
}

footer{
    height: 200px;
}

#logoastra{
  width: 120px;
}