.element{
    height: 200px;
}

footer{
    height: 200px;
}

.instagram__item {
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .instagram__item:hover:after {
    opacity: 1;
  }
  
  .instagram__item:hover .instagram__text {
    opacity: 1;
    visibility: visible;
  }
  
  .instagram__item:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0;
    z-index: -1;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .instagram__text {
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .instagram__text i {
    font-size: 30px;
    color: #0d0d0d;
  }
  
  .instagram__text a {
    font-size: 16px;
    color: #0d0d0d;
    font-weight: 500;
    display: block;
    margin-top: 10px;
  }
  
  .footer {
    padding-top: 55px;
  }
  
  .footer__about {
    margin-bottom: 30px;
  }
  
  .footer__about p {
    margin-bottom: 20px;
  }
  
  .footer__logo {
    margin-bottom: 20px;
  }
  
  .footer__payment a {
    margin-right: 6px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .footer__payment a:last-child {
    margin-right: 0;
  }
  
  .footer__widget {
    margin-bottom: 30px;
  }
  
  .footer__widget h6 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  
  .footer__widget ul li {
    list-style: none;
  }
  
  .footer__widget ul li a {
    font-size: 14px;
    color: #666666;
    line-height: 30px;
  }
  
  .footer__newslatter {
    margin-bottom: 30px;
  }
  
  .footer__newslatter h6 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .footer__newslatter form {
    position: relative;
    margin-bottom: 30px;
  }
  
  .footer__newslatter form input {
    height: 52px;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 14px;
    color: #666666;
  }
  
  .footer__newslatter form input::-webkit-input-placeholder {
    color: #666666;
  }
  
  .footer__newslatter form input::-moz-placeholder {
    color: #666666;
  }
  
  .footer__newslatter form input:-ms-input-placeholder {
    color: #666666;
  }
  
  .footer__newslatter form input::-ms-input-placeholder {
    color: #666666;
  }
  
  .footer__newslatter form input::placeholder {
    color: #666666;
  }
  
  .footer__newslatter form button {
    position: absolute;
    right: 4px;
    top: 4px;
  }
  
  .footer__social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #e1e1e1;
    font-size: 15px;
    color: #111111;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 6px;
    margin-bottom: 5px;
  }
  
  .footer__social a:last-child {
    margin-right: 0;
  }
  
  .footer__copyright__text {
    border-top: 1px solid #e1e1e1;
    padding: 18px 0 25px;
    text-align: center;
    margin-top: 35px;
  }
  
  .footer__copyright__text p {
    margin-bottom: 0;
  }
  
  .footer__copyright__text a {
    color: #5c5c5c;
  }
  
  .footer__copyright__text i {
    color: #ca1515;
  }
  
  .footer__copyright__text a:hover {
    color: #ca1515;
  }

  #logoastra{
    width: 200px;
  }