<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="assets/logo.png" alt="" id="logoastra"></a>
                    </div>
                    <p>Recibimos TODAS las tarjetas (dependiendo tu país de origen podrían aplicarse cargos adicionales tales como impuestos).</p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Links</h6>
                    <ul>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Contactanos</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Cuenta</h6>
                    <ul>
                        <li><a href="#">Mi Cuenta</a></li>
                        <li><a href="#">Seguimiento del pedido</a></li>
                        <li><a href="#">Retiro</a></li>
                        <li><a href="#">Lista de deseados</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>¿Querés recibir las últimas novedades?</h6>
                    <form action="#">
                        <input type="text" placeholder="E-mail">
                        <button type="submit" class="site-btn">Suscribirme</button>
                    </form>
                    <div class="footer__social">
                        <a href="https://www.instagram.com/astrasanjuan/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/astrasanjuan/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/astrasanjuan/" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.instagram.com/astrasanjuan/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.instagram.com/astrasanjuan/" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          
        </div>
    </div>
    
</footer>